/* Bendras stilius: */


/* Karolis stiliaus kodas: */


/* Vaidotas stiliaus kodas: */


/* Romanas stiliaus kodas: */

.container {
    text-align: center;
}

.footerimg {
    display: inline-block;
    max-width: 100%;
    width: 50px;
}

.footer-copyright {
    text-align: left;
}