/* Bendras stilius: */

/* Karolis stiliaus kodas: */

.parallax-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeMiddle {
    margin-top: 60px;
    text-align: center;
}

.introLabels {
    font-weight: bold;
    font-size: x-large;
}

.parallax-container .parallax {
    z-index: 0;
}

.zAsis {
    z-index: 2;
}
/* Vaidotas stiliaus kodas: */

.main-news {
    border: 2px solid black;
    padding: 15px 15px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.main-news p {
    text-align: justify;
}

.main-news img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-news h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.news {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
}

.article-photo {
    max-width: 100%;
}

.news-small {
    padding: 15px 15px;
    border-width: 5px;
    border: 2px solid black;
    margin: 20px 50px;
    display: flex;
    position: relative;
}

.news-small h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.img-div {
    width: 30%;
    height: 70%;
    margin-top: auto;
    margin-bottom: auto;
}

.news-inside {
    text-align: left;
    max-width: 70%;

}

.single-entry {
    box-sizing: border-box;
}


/* Romanas stiliaus kodas: */

.social {
    display: flex;
    justify-content: center;
}

.social div {
    padding: 0px 10px;
}

.container {
    text-align: center;
}

.footerimg {
    max-width: 100%;
    width: 50px;
}

body {
    display: flex;
    /* Cia reiskia visos narsykles lango aukscio */
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}